<!DOCTYPE html>
<html>
<head>
  <title> dysPHoria | {{article.title}} </title>
</head>
<body>
  {{> header}}
  <div id="container">

    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/article/list">Articles</a></li>
      <li>{{article.title}}</li>
    </ul> <br>

    <div id="main-post">
      <h1 class="subheader">{{article.title}}</h1>
      <h4>by {{article.author}}</h4>
    </div><hr><br>
    
    <div id="body">
      <div id="img">
        <img src="{{article.imgpath}}">
      </div>
      <h4>{{article.imgsrc}}</h4><br>
      <p></p>
      {{#each article.content}}
        <p>{{this}}</p><br>
      {{/each}}
      <h3>References</h3>
      {{#each article.references}}
        <h5>{{this}}</h5>
      {{/each}}
    </div><br>
  </div><br>

  <div id="container">
    <div id="poll">
      <div>
        <h2 class="subsubheader">Poll</h2>
        <h3>{{poll.question}}</h3>
      </div>
    </div>
  </div><br>

  <div id="container">
    <div id="comments">
      <h2 class="subsubheader">Comments:</h2>
      <div id="comment-list">
        {{> comment}}<hr class="line-light">
        {{> comment}}<hr class="line-light">
        {{> comment}}<hr class="line-light">
      </div>
    </div>
  </div>
  {{> footer}}
</body>
</html>
